@font-face {
    font-family: 'Bungee-Regular';
    src: url('../fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: 'BungeeOutline-Regular';
    src: url('../fonts/BungeeOutline-Regular.ttf');
}

@font-face {
    font-family: 'Riffic-Bold';
    src: url('../fonts/Riffic-Bold.ttf');
}
